/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: rgb(53, 53, 53);
  line-height: 45px;
}

.button{
 border: 3px solid rgb(53, 53, 53);
 width: 60%;
 padding: 10px;
 outline: none;
 text-decoration: none;
 text-align: center;
 color: rgb(53, 53, 53);
 font-size: 20px;
 font-weight: bold;
 transition: .2s;
 border-radius: 3px;
}

.button:hover{
background: rgb(53, 53, 53);
color: rgb(187, 187, 187);
}

.line{
  background-color: #117050;
  height: 10px;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 70px;
}

.menu {
  height: 80px;
  background-color: rgb(235, 235, 235);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.menu-open{
  background-color: rgba(0, 0, 0, 0.466);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  max-height: 100vh;
  display: none;
  z-index: 99;
  transition: all 1s ease-in-out
}

.menu-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(34, 34, 34);
  position: fixed;
padding-top: 30%;
  top: 8%;
  right: 0;
  height: 100vh;
  width: 40%;
  z-index: 99;
  transition: all 1s ease-in-out
}

.menu-area a{
  margin-top: 6% ;
  text-decoration: none;
  font-size: 20px;
  color: rgb(233, 233, 233);
}

.menu-area a:hover{
  border-bottom: 3px solid rgb(228, 228, 228);

}

.header-search input{
  font-size: 16px;
  padding: 7px 10px;
  border: 2px solid #cccccc;
  outline: 0;
  width: 100%;
  max-width: 220px;
}

.header-search button{
  border: 0;
  background: rgba(188, 143, 143, 0);
}

.header-search button img{
  width: 16px;
  cursor: pointer;
  margin-left: -32px;
}

.header-search form{
  display: flex;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-menu img{
  width: 30px;
  margin-left: 60px;
  cursor: pointer;
}

.header-space {
  height: 80px;
}

.banner {
  padding-top: 40px;
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-size: cover;
  min-height: 91.5vh;
}

.banner h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: rgb(53, 53, 53);
}

.banner span {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: rgb(53, 53, 53);
}

.banner-images img {
  margin-top: 50px;
  width: 170px;
  height: 170px;
  border: 6px solid #117050;
  border-radius: 50%;
  margin-right: 40px;
  box-shadow: 0 0 5px black;
}

.bar{
  height: 15px;
  width: 150px;
  background: #117050;;
}

.area1 {
  min-height: 91.5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area1-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

.area1-img1 {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  background-image: url('./assets/f1.jpg');
  background-position: center;
  background-size: cover;
}

.area1-img2 {
  background-image: url('./assets/f2.jpg');
  background-position: center;
  background-size: cover;
}

.phrase {
  color: rgb(92, 92, 92);
  font-size: 20px;
  font-weight: bold;
}

.text {
  font-size: 22px;
  font-weight: bold;
  color: rgb(97, 97, 97);
}

.area2 {
  min-height: 91.5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area2-img1{
  background-image: url('./assets/f4.jpg');
  background-position: center;
  background-size: cover;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.area2-img2{
  background-image: url('./assets/f3.jpg');
  background-position: center;
  background-size: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.area2-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

.area3 {
  min-height: 91.5vh;
  display: flex;
}

.area3-content{
  background-image: url('./assets/bg2.jpg');
  background-position: left;
  background-size: cover;
  width: 50%;
  order: 1;
}

.area3-content-text{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-left: 20%;
  margin-right: 20%;
}

.area3-content-text div, .area3-content-text h2, .area3-content-text a {
  margin-top: 15%;
}

.area3-img{
  background-image: url('./assets/f5.jpg');
  background-size: cover;
  background-position: center;
  width: 50%;
  order: 2;
}

.area4{
  min-height: 91.5vh;
  background: rgba(0, 0, 0, 0.993);
  background-position: right;
  position: relative;
  
}

.area4-content{
  display: flex;
  flex-direction: column;
  margin-left: 60%;
  margin-right: 10%;
  position: absolute;
  opacity: 1 !important;

}

.area4-content div, .area4-content h2, .area4-content a {
  margin-top: 10%;
}

.area4-bg {
  min-height: 91.5vh;
  background-image: url('./assets/bg3.jpg');
  position: absolute;
  opacity: .5;
  background-position: right;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#bar-a4{
  background: rgb(241, 241, 241);
}

.text-a4{
  color: rgb(243, 243, 243);
  text-shadow: 1px 1px 5px black;
}

.btn-a4{
 border: 3px solid rgb(240, 240, 240);
}

.btn-a4:hover{
  background: rgb(235, 235, 235);
  color: rgb(53, 53, 53);
  text-shadow: 0 0 0;
}

footer{
  text-align: center;
  line-height: 50px;
}

@media (min-width: 769px) and (max-width: 1440px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width:431px) and (max-width: 770px){
  .area1-content, .area2-content, .area3-content-text{
    margin-left: 10%;
    margin-right: 10%;
  }

  .area4-content{
    margin-left: 50%;
    margin-right: 5%;
  }

  .menu-area{
    width: 70%;
  }
}

@media (max-width: 430px){
 .banner-images img {
   margin-left: 25%;
   margin-right: 25%;
 }

 .menu-area{
  width: 70%;
}

 .area4-content{
  margin-left: 5%;
  margin-right: 5%;
}
.area1-content, .area2-content, .area3-content-text{
  margin-left: 5%;
  margin-right: 5%;
}

.area1 {
  grid-template-columns: 2.8fr 1fr;
}
.area2 {
  grid-template-columns: 1fr 2.8fr ;
}

.area3-content{
flex: 2.4;
}
.area3-img{
  flex: 1;
}
}